<div class="wrap">
  <div class="row card-title bg-info">
    <h1 mat-dialog-title class="col-md-10 heading">Trip Planner</h1>
    <i class="fas fa-times-circle col-md-2" routerLink="/home"></i>
  </div>
  <div class="container">
    <div class="bubble left">
      <i class="fas fa-robot"></i>
      <span
        ><p>
          Hey! I'm Tourism Trip Planner... Are you looking for help in planning
          your trip?
        </p></span
      >
    </div>
    <ng-container *ngFor="let message of messages">
      <p *ngIf="message.ourText !== undefined" class="my-3 text">
        {{ message.ourText }}
      </p>
      <p>{{ message.speech }}</p>
      <div>
        <p>{{ message.textToSpeech }}</p>
        <p
          *ngFor="let sug of message.suggestions"
          class="text-center mx-2 my-2"
        >
          <button
            (click)="onClick(sug.title)"
            class="btn btn-outline-primary options"
          >
            {{ sug.title }}
          </button>
        </p>
      </div>
    </ng-container>
    <div mat-dialog-actions class="form" ngForm="#myform">
      <input
        [(ngModel)]="formValue"
        (keyup.enter)="sendMessage()"
        type="text"
        name="formValue"
        placeholder="Type or select from above..."
      />
      <button mat-stroked-button (click)="sendMessage()" class="button bg-info">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </div>
</div>
