<div class="wrap">
  <div class="card-title text-center bg-info">
    <h1 mat-dialog-title>Trip Planner</h1>
  </div>
  <div class="container">
    <div class="bubble left">
      <p>
        Hey! I'm Tourism Trip Planner... Are you looking for help in planning
        your trip?
      </p>
    </div>
    <ng-container *ngFor="let message of messages">
      <p class="my-3" style="text-align:right">{{ input }}</p>
      <p class="mx-3">{{ message.speech }}</p>
      <p>{{ message.textToSpeech }}</p>
      <p
        *ngFor="let sug of message.suggestions"
        class="text-center mx-2 my-2"
      >
        <button (click)="onClick(sug.title)" class="btn btn-outline-primary">
          {{ sug.title }}
        </button>
      </p>
    </ng-container>
    <div mat-dialog-actions class="form" ngForm="#myform">
      <input
        [(ngModel)]="formValue"
        (keyup.enter)="sendMessage()"
        type="text"
        name="formValue"
        placeholder="Type or select from above..."
      />
      <button mat-stroked-button (click)="sendMessage()" class="button bg-info">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </div>
</div>
