<!--***************************1*****************************-->
<!-- <button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#exampleModalCenter"
>
  Open me
</button> -->

<div class="container-fluid">
  <div class="carousel-inner mb-5" style="height:500px">
    <div class="item active">
      <img src="/assets/images/c2.jpg" alt="Los Angeles" style="width:100%;" />
      <div class="carousel-caption">
        <button
          type="button"
          class="btn btn-light mb-3"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          Click me to Know about Movies?
        </button>
        <p class="quote">The whole of life is just like watching a film</p>
      </div>
    </div>
  </div>

  <div class="card-deck mb-4">
    <div class="card">
      <img
        class="card-img-top"
        src="assets/images/m1.jpg"
        alt="Card image cap"
        style="height:400px;"
      />
      <div class="card-body">
        <h5 class="card-title">The Little Mermaid</h5>
        <p class="card-text">
          The Little Mermaid is a 1989 American animated musical fantasy romance
          film produced by Walt Disney Feature Animation and Walt Disney
          Pictures. Loosely based on the Danish fairy tale of the same name by
          Hans Christian Andersen
        </p>
        <button
          type="button"
          class="btn btn-dark"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          Search movie
        </button>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="assets/images/m2.jpg"
        alt="Card image cap"
        style="height:400px;"
      />
      <div class="card-body">
        <h5 class="card-title">Beauty and Beast</h5>
        <p class="card-text">
          Beauty and the Beast is a 2017 American musical romantic fantasy film
          directed by Bill Condon from a screenplay written by Stephen Chbosky
          and Evan Spiliotopoulos, and co-produced by Walt Disney Pictures and
          Mandeville Films
        </p>
        <button
          type="button"
          class="btn btn-dark"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          Search movie
        </button>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="assets/images/m3.jpeg"
        alt="Card image cap"
        style="height:400px;"
      />
      <div class="card-body">
        <h5 class="card-title">The House Clock Walls</h5>
        <p class="card-text">
          The House with a Clock in Its Walls is a 2018 American dark fantasy
          comedy film directed by Eli Roth, based on the 1973 novel of the same
          name by John Bellairs, and starring Jack Black, Cate Blanchett, Owen
          Vaccaro, Renée Elise Goldsberry, Sunny Suljic, and Kyle MacLachlan.
        </p>
        <button
          type="button"
          class="btn btn-dark"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          Search movie
        </button>
      </div>
    </div>
  </div>
  <div class="card-deck mb-4">
    <div class="card">
      <img
        class="card-img-top"
        src="assets/images/m4.jpeg"
        alt="Card image cap"
        style="height:400px;"
      />
      <div class="card-body">
        <h5 class="card-title">Kid King</h5>
        <p class="card-text">
          The Kid Who Would Be King is a 2019 fantasy adventure film written and
          directed by Joe Cornish. A British-American venture, the film stars
          Louis Ashbourne Serkis, Tom Taylor, Rebecca Ferguson, and Patrick
          Stewart
        </p>
        <button
          type="button"
          class="btn btn-dark"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          Search movie
        </button>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="assets/images/m5.jpeg"
        alt="Card image cap"
        style="height:400px;"
      />
      <div class="card-body">
        <h5 class="card-title">This is the End</h5>
        <p class="card-text">
          This Is the End is a 2013 American disaster black comedy horror film
          written, co-produced and directed by Seth Rogen and Evan Goldberg in
          their directorial debuts. Starring Rogen, Jay Baruchel, James Franco,
          Jonah Hill, Danny McBride and Craig Robinson, the film centers on
          fictionalized versions of themselves in the wake of a global biblical
          apocalypse.
        </p>
        <button
          type="button"
          class="btn btn-dark"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          Search movie
        </button>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="assets/images/m6.jpeg"
        alt="Card image cap"
        style="height:400px;"
      />
      <div class="card-body">
        <h5 class="card-title">Failure to Launch</h5>
        <p class="card-text">
          Failure to Launch is a 2006 American romantic comedy film directed by
          Tom Dey, and starring Matthew McConaughey and Sarah Jessica Parker.
          The film focuses on a 35-year-old man who lives in the home of his
          parents and shows no interest in leaving the comfortable life his
          parents, especially his mother, have made for him there
        </p>
        <button
          type="button"
          class="btn btn-dark"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          Search movie
        </button>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card">
      <img
        class="card-img-top"
        src="assets/images/m7.jpeg"
        alt="Card image cap"
        style="height:400px;"
      />
      <div class="card-body">
        <h5 class="card-title">One Day</h5>
        <p class="card-text">
          One Day is a 2011 British-American romantic drama film directed by
          Lone Scherfig, and starring Anne Hathaway and Jim Sturgess. Focus
          Features released the film theatrically in August 2011. It was adapted
          by David Nicholls from his 2009 novel of the same name.
        </p>
        <button
          type="button"
          class="btn btn-dark"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          Search movie
        </button>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="assets/images/m8.jpeg"
        alt="Card image cap"
        style="height:400px;"
      />
      <div class="card-body">
        <h5 class="card-title">Crazy Rich Asians</h5>
        <p class="card-text">
          Crazy Rich Asians is a 2018 American romantic comedy film directed by
          Jon M. Chu, from a screenplay by Peter Chiarelli and Adele Lim, based
          on the 2013 novel of the same name by Kevin Kwan. The film stars
          Constance Wu, Henry Golding, Gemma Chan, Lisa Lu, Awkwafina, Ken
          Jeong, and Michelle Yeoh. It follows a Chinese-American professor who
          travels to meet her boyfriend's family and is surprised to discover
          they are among the richest in Singapore.
        </p>
        <button
          type="button"
          class="btn btn-dark"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          Search movie
        </button>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="assets/images/m2.jpg"
        alt="Card image cap"
        style="height:400px;"
      />
      <div class="card-body">
        <h5 class="card-title">Beauty and Beast</h5>
        <p class="card-text">
          Beauty and the Beast is a 2017 American musical romantic fantasy film
          directed by Bill Condon from a screenplay written by Stephen Chbosky
          and Evan Spiliotopoulos, and co-produced by Walt Disney Pictures and
          Mandeville Films
        </p>
        <button
          type="button"
          class="btn btn-dark"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          Search movie
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
  routerlink="/home"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="modal-content-size">
      <div class="modal-body" id="modalBody">
        <div id="frame">
          <div class="content">
            <div class="contact-profile">
              <img src="https://img.icons8.com/dusk/64/000000/bot.png" />
              <p id="appSummary">Movie Bot</p>
              <button
                type="button"
                class="close"
                routerLink="/home"
                data-dismiss="modal"
              >
                <!-- class="close"   aria-label="Close"-->
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="messages">
              <ul>
                <li class="sent">
                  <img
                    src="https://img.icons8.com/doodle/28/000000/robot-2.png"
                  />
                  <p>
                    Hi ! How may i assist you ?
                  </p>
                </li>

                <div *ngFor="let response of responseArr">
                  <li class="replies">
                    <img
                      src="https://img.icons8.com/material-two-tone/24/000000/administrator-male.png"
                    />
                    <p>
                      {{ response?.results?.nlp.source }}
                    </p>
                  </li>

                  <li
                    class="sent"
                    [ngSwitch]="(response?.results?.messages)[0].type"
                  >
                    <img
                      src="https://img.icons8.com/doodle/28/000000/robot-2.png"
                    />

                    <p *ngSwitchCase="'text'">
                      {{ (response?.results?.messages)[0].content }}
                    </p>

                    <p *ngSwitchCase="'quickReplies'">
                      <b>{{ response.results.messages[0].content.title }}</b
                      ><br />
                      <button
                        class="btn btn-outline-warning"
                        *ngFor="
                          let button of response.results.messages[0].content
                            .buttons
                        "
                        (click)="onClick(button.value)"
                      >
                        {{ button.value }}
                      </button>
                    </p>

                    <p *ngSwitchCase="'card'">
                      <b>{{ response.results.messages[0].content.title }}</b>
                      <br />
                      {{ response.results.messages[0].content.subtitle }} <br />
                      <button
                        class="btn btn-success btn-block"
                        *ngFor="
                          let button of response.results.messages[0].content
                            .buttons
                        "
                        (click)="onClickMovieResult(button.value)"
                      >
                        {{ button.title }}
                      </button>
                    </p>
                  </li>
                </div>
              </ul>
            </div>
            <div class="message-input">
              <div class="wrap">
                <input
                  type="text"
                  [(ngModel)]="question"
                  placeholder="Write your message..."
                />

                <button id="sbt" class="submit" (click)="askQuestion()">
                  <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
