<!--***************************1*****************************-->
<!-- <button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#exampleModalCenter"
>
  Open me
</button> -->

<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
  routerlink="/home"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="modal-content-size">
      <div class="modal-body" id="modalBody">
        <div id="frame">
          <div class="content">
            <div class="contact-profile">
              <img src="https://img.icons8.com/dusk/64/000000/bot.png" />
              <p id="appSummary">Movie Bot</p>
              <button
                type="button"
                class="close"
                routerLink="/home"
                data-dismiss="modal"
              >
                <!-- class="close"   aria-label="Close"-->
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="messages">
              <ul>
                <li class="sent">
                  <img
                    src="https://img.icons8.com/doodle/28/000000/robot-2.png"
                  />
                  <p>
                    Hi ! How may i assist you ?
                  </p>
                </li>

                <div *ngFor="let response of responseArr">
                  <li class="replies">
                    <img
                      src="https://img.icons8.com/material-two-tone/24/000000/administrator-male.png"
                    />
                    <p>
                      {{ response?.results?.nlp.source }}
                    </p>
                  </li>

                  <li
                    class="sent"
                    [ngSwitch]="(response?.results?.messages)[0].type"
                  >
                    <img
                      src="https://img.icons8.com/doodle/28/000000/robot-2.png"
                    />

                    <p *ngSwitchCase="'text'">
                      {{ (response?.results?.messages)[0].content }}
                    </p>

                    <p *ngSwitchCase="'quickReplies'">
                      <b>{{ response.results.messages[0].content.title }}</b
                      ><br />
                      <button
                        class="btn btn-outline-warning"
                        *ngFor="
                          let button of response.results.messages[0].content
                            .buttons
                        "
                        (click)="onClick(button.value)"
                      >
                        {{ button.value }}
                      </button>
                    </p>

                    <p *ngSwitchCase="'card'">
                      <b>{{ response.results.messages[0].content.title }}</b>
                      <br />
                      {{ response.results.messages[0].content.subtitle }} <br />
                      <button
                        class="btn btn-success btn-block"
                        *ngFor="
                          let button of response.results.messages[0].content
                            .buttons
                        "
                        (click)="onClickMovieResult(button.value)"
                      >
                        {{ button.title }}
                      </button>
                    </p>
                  </li>
                </div>
              </ul>
            </div>
            <div class="message-input">
              <div class="wrap">
                <input
                  type="text"
                  [(ngModel)]="question"
                  placeholder="Write your message..."
                />

                <button id="sbt" class="submit" (click)="askQuestion()">
                  <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
