<div class="bg">
  <h1>
    <p class="text">Manual Answer Dashboard</p>
  </h1>


  <div class="container">

      <div class="d-flex justify-content-start h-100">
        <form (ngSubmit)="searchByTopic(concept.value)" class="form-inline" #searchForm="ngForm">
          <mat-form-field>
            <mat-label>Search by topic</mat-label>
            <input matInput type="text" class="form-control" #concept required>
          </mat-form-field>
          <button class="btn-outline-success ml-2" mat-raised-button [disabled]="!searchForm.form.valid">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>


  </div>


  <div class="container">
    <div *ngFor="let question of question">

      <div class="card-holder">
        <div class="card">
          <div class="card-body">
            <p class="card-text">{{question.question}}</p>
            <textarea placeholder="Type Your Answer" class="form-control" #answer></textarea>
            <button type="submit" (click)="submitAnswer(question,answer.value)" class="btn btn-success">Submit</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>





  
