<div class="container-fluid m-0 p-0 sticky-top shadow-lg">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1B1B25;">
    <div class="container-fluid">
      <a class="navbar-brand mr-auto" routerLink="/" routerLinkActive="active"
      ><h4>Ora<b style="color:red">A</b>ssist</h4></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse col-sm-12 col-lg-2"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [hidden]="!currentstatus">
            <a class="nav-link active" routerLink="/home" routerLinkActive="active"
            >Home</a
            >

          </li>

          <li class="nav-item">
            <a
              class="nav-link btn btn-outline-dark"
              routerLink="/login"
              [hidden]="currentstatus"
              routerLinkActive="active"
            ><i class="fa fa-user-circle mr-2"></i>sign in
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/profile"
              [hidden]="!currentstatus"
              routerLinkActive="active"
            >Profile
            </a>
          </li>

          <li class="nav-item">
            <button
              class="btn nav-link btn-outline-dark"
              (click)="logout()"
              [hidden]="!currentstatus"
            >
              Logout
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
